@import "tailwindcss";
@plugin "daisyui";
.kaushal{
    height: 100px;
    width: 400px;
    background-color: rgb(249, 252, 249);
    border-radius: 1%;
   
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}


.animate-notice {
  animation: noticeScroll 12s linear infinite;
}

